/*-------------------------------------------------------------------------
# General CSS
-------------------------------------------------------------------------*/

body {
  font-family: 'Open Sans', 'sans-serif' !important;
  background-color: #0c0b09;
  color: #fff
}

Link {
  color:#cda45e;
  text-decoration: none !important;
}

Link:hover {
 color: #d9ba85;
 text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
  display: none;
}

/*-------------------------------------------------------------------------
# Sections General CSS
-------------------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #1a1814;
}